/*button formatting*/
.form-container .btn {
  background-color: #7D46EF;
  color: white;
  padding: 16px 20px;
  border: none;
  cursor: pointer;
  width: 100%;
  margin-bottom:10px;
  opacity: 0.8;
}

/* Add some hover effects to buttons */
.form-container .btn:hover {
  opacity: 1;
}

/* form container style */
.form-container {
  width: 100%;
  height: 20%;
  background-color: white;
  color:#7D46EF;
  border-radius: 8px;
  padding: 1%;
}

/* The popup form - hidden by default */
.form-popup {
  display: none;
  position: fixed;
  bottom: 0;
  z-index: 9;
  right: 0;
}

/* Full-width input fields */
.form-container input[type=text] {
  width: 100%;
  padding: 15px;
  margin: 5px 0 22px 0;
  border: none;
  background: #f1f1f1;
}

/* When the inputs get focus, do something */
.form-container input[type=text]:focus {
  background-color: #ddd;
  outline: none;
}
