* {
  box-sizing: border-box;
}

.px-2 {
  padding-left: ($spacer * .5) !important;
  padding-right: ($spacer * .5) !important;
}

body {

		background-image: url(Pictures/Background.png);
		background-repeat: no-repeat;
		background-size: cover;

	}

	.boxes {

		mix-blend-mode: lighten;
		background: #FFFFFF;
		border-radius: 8px;
		font-family: Helvetica;
		font-style: normal;
		font-weight: bold;

	}

.paths {
  	height: 67%;
  	width: 20%;
  	position: fixed;
  	left: 0;
		bottom:0;
		margin-left: 3%;
		margin-bottom:2%;
  	overflow-x: hidden;
}

.friends {
	height: 67%;
	width: 20%;
	position: fixed;
	right: 0;
	top: 0;
	margin-top: 3%;
	margin-right: 3%;
	overflow-x: hidden;
}

.stats {
	width: 70%;
	height: 20%;
	position: fixed;
	bottom: 0;
	right: 0;
	margin-right: 3%;
	margin-bottom: 2%;
}

.topBar {
	display: inline-block;
}

.dashboard {

		display: inline-block;
		position: fixed;
		width: 50%;
		height: 20%;
		top: 0;
		margin-left: 25%;
		margin-right: 3%;
		margin-top: 3%;
}

.logo {
		position: fixed;
		display: inline-block;
		left: 0;
		top: 0;
		margin-right: 0;
		margin-left: 2%;
}
